body{
    background-color: antiquewhite;
}
img{
    width:300px;
    height:200px;
    display:block;
    
}
h1{text-align: center;
color:red;
text-decoration: underline;}

table,td{
    text-align: center;
    margin:20px;
    padding:50px;
}
.c1:hover{
    color:red;
    text-decoration: underline;
    cursor:pointer;
    font-size:20px;
    
}